.button { 
    display: inline-block;
    background-image: #E4C3AD;
    color: darken($color: #000000, $amount: 0);
    padding: 5px 30px;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    
   
    &:hover{
      background-color: rgb(236, 173, 164); 
      color: black;
      border-radius: 5px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
   
  }  

 .button-menu{
    background-image: #E4C3AD;
        color: darken($color: #000000, $amount: 0);
        padding: 10px 24px;
        border-radius: 5px;
        display: none;
        transition-duration: 0.4s;
        font-size: 16px;
        text-decoration: none;
        &:hover{
            background-color: rgb(236, 173, 164); 
            color: black;
            border-radius: 5px;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          }        
    }